

.ideaBox {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	background-color: #FF9966;
}

.ideaBox2 {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	background-color: #AAF0D1;
}
